/* *{
    border: 1px solid white;
} */

h1{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 1.875rem;
    font-weight: normal;
    color: var(--lavender-white);
    margin:0;
    padding:0;
}

/* .top-left-h1, .top-right-h1{
    margin-top: -50px;
}

.top-right-h1{
    margin-right: -200px;
}

.left-h1{
    margin-left: -90px
}

.right-h1{
    margin-left: 615px;
} */

h2{
    font-family:'Barlow Condensed', sans-serif;
    font-weight: normal;
    color: var(--lavender-white);
    font-size: 1.125rem;
}

h3{
    font-family: 'Anonymous Pro', monospace;
    font-size: .75rem;
    color: var(--russian-violet);
    font-weight: normal;
    margin: .5em;
    padding: 0;
}

p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1rem;
    color: var( --slate-blue);
    font-weight: normal;
}

main{
    scroll-snap-type: y mandatory;
    max-height: calc(100vh - 127px);
    overflow-y: scroll;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.welcome, .about, .projects, .contact{
    scroll-snap-align: start;
    min-height: calc(100vh - 115px);

    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.purple-box{
    border: 2px solid #231B43;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}