.footer {
    background-color: var(--xiketic);
    height: 40px;
    width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.darkmode{
    padding:10px
}
/*
@media screen and (min-height: 700px){
    .footer{
        position: relative;
    }
} */
