.footer {
    background-color: var(--xiketic);
    height: 40px;
    width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}

/* TODO: clicking  "darkMode = true;" will toggle the site into light mode. */

.darkmode{
    padding:10px
}